/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-maj-23, 18:34:59
    Author     : Mikael
*/

/*  SECTIONS  */


html {
    background-color: #fafafa;
}

#header {
    background-color: #f3f3f3;
    border-color: #0E6972;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5vmax;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #109121;
}

#nav li {
    float: left;
}

#nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #0E6972;
}

#leftnav {
    
}

#content{
    
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
        
        
        
}

/* FOOTER */

#profile_footer img{
   height: 450px;
   width: 450px;
}

#about_footer {
   min-width: 450px;
   height: auto;
   background-image: url("img/studenter.jpg");
   height: 450px;
}

#join_footer {
   min-width: 450px;
   height: auto;
   background-image: url("img/boring.jpg");
   height: 450px;
}






/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
        
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}